*{
    --white: #eff7f7;
    --grey: #cfd5ce;
    --dark: #8f948f;
    --black: #141616;

    --red:       #f22426;
    --orange:    #f36f03;
    --yellow:    #f3e90d;
    --green:     #99ec3e;
    --purple:    #9b5eed;
}