@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;500;600;900&display=swap');
body {
  font-family: sans-serif;
  font-weight: 500;
  background-color: #fff;
}

.cont{
  background-color: #ccc;
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
}